@model IEnumerable<ServiceSphere.Domain.Entities.Guest>

<h1>Guests</h1>
<a asp-action="Create">Create Guest</a>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>IsAttending</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Name</td>
                <td>@service.IsAttending</td>
                <td>
                    <a asp-action="Details" asp-route-id="@service.GuestId">Details</a>
                    <a asp-action="Edit" asp-route-id="@service.GuestId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@service.GuestId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
