@model IEnumerable<ServiceSphere.Domain.Entities.Event>

<h1>Eventos</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evento in Model)
        {
            <tr>
                <td>@evento.Name</td>
                <td>@evento.Location</td>
                <td>@evento.Date.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@evento.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@evento.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
