@model IEnumerable<ServiceSphere.Infrastructure.Models.ServiceModel>

<h1>Services</h1>

<p>
    <a asp-controller="Services" asp-action="Create" class="btn btn-primary">Create New Service</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ServiceItem in Model)
        {
            <tr>
                <td>@ServiceItem.Name</td>
                <td>@ServiceItem.Cost.ToString("C")</td>
                <td>@ServiceItem.Description</td>
                <td>
                    <a asp-controller="Services" asp-action="Edit" asp-route-id="@ServiceItem.ServiceId" class="btn btn-warning">Edit</a>
                    <a asp-controller="Services" asp-action="Delete" asp-route-id="@ServiceItem.ServiceId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}